name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v6
    - uses: actions/setup-java@v3
      with:
        java-version: "8"
        architecture: "x64"
        distribution: "temurin"
    - name: Check formatting
      run: 
        ./mill --no-server --disable-ticker mill.scalalib.scalafmt.ScalafmtModule/checkFormatAll __.sources
    - name: Check scalafix
      run: 
        ./mill --no-server --disable-ticker __.fix --check
    - name: Compile
      run: 
        ./mill --no-server --disable-ticker __.compile
    - name: Publish Artifacts
      run: 
        ./mill --no-server --disable-ticker __.publishArtifacts
    - name: Test
      run:
        ./mill --no-server --disable-ticker __.test
  publish-sonatype:
    if: github.repository == 'lolgab/mill-mima' && (contains(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch')
    needs: build
    runs-on: ubuntu-22.04
    env:
      SONATYPE_PGP_PRIVATE_KEY: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      SONATYPE_PGP_PRIVATE_KEY_PASSWORD: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6
      - uses: actions/setup-java@v3
        with:
          java-version: "8"
          architecture: "x64"
          distribution: "temurin"
      - name: Publish to Maven Central
        run: |
          if [[ "$GITHUB_EVENT_NAME" == "workflow_dispatch" || $(git tag --points-at HEAD) != '' ]]; then
            echo $SONATYPE_PGP_PRIVATE_KEY | base64 --decode > gpg_key
            gpg --import --no-tty --batch --yes gpg_key
            rm gpg_key
            ./mill --no-server --disable-ticker mill.scalalib.PublishModule/publishAll \
              --sonatypeCreds $SONATYPE_USER:$SONATYPE_PASSWORD \
              --gpgArgs --passphrase=$SONATYPE_PGP_PRIVATE_KEY_PASSWORD,--no-tty,--pinentry-mode,loopback,--batch,--yes,-a,-b \
              --publishArtifacts __.publishArtifacts \
              --readTimeout 600000 \
              --awaitTimeout 600000 \
              --release true \
              --signed true
          fi
